.footer {
    background-color:#cbdae3;
    padding: 1rem;
}

html {
    font-size: 18px;
}


.bg-light {
	background-color:#101628;
}

.text_primary {
	color: #1c2747ff;
}	

.socials {
    text-decoration: none;
}

.footer-socials {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

body { 
	background-color:#cbdae3;
	font-family: 'Bai Jamjuree', sans-serif;
	
}
main {
	padding-top: 7%; 
}
@media screen and (max-width: 768px) {
    body { padding-top: 7%; }
}

.card { 
	background-color:rgba(0, 0, 0, 0);
}

.navbar.navbar-expand-sm.fixed-top.navbar-dark {
	background-color: #031a44;	
}

.navbar-dark .navbar-nav .nav-link {
	color:#cbdae3;
}

#headingOne {
	background-color: #031a44;	
}

.btn-link {
	color:#cbdae3;
}


.navbar-dark .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}


.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}









