.footer {
    background-color:#cbdae3;
    padding: 1rem;
}

html {
    font-size: 18px;
}


.bg-light {
	background-color:#101628;
}

.text_primary {
	color: #1c2747ff;
}	

.socials {
    text-decoration: none;
}

.footer-socials {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

body { 
	background-color:#cbdae3;
	font-family: 'Bai Jamjuree', sans-serif;
	
}
main {
	padding-top: 7%; 
}
@media screen and (max-width: 768px) {
    body { padding-top: 7%; }
}

.card { 
	background-color:rgba(0, 0, 0, 0);
}

.navbar.navbar-expand-sm.fixed-top.navbar-dark {
	background-color: #031a44;	
}

.navbar-dark .navbar-nav .nav-link {
	color:#cbdae3;
}

#headingOne {
	background-color: #031a44;	
}

.btn-link {
	color:#cbdae3;
}


.navbar-dark .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}